<div class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- 左上产品LOGO -->
        <a class="navbar-brand hidden-xs hidden-sm" href="#">
            <span class="col-lg-12">点餐吧</span>
        </a>
        <ul class="nav navbar-nav hidden-lg">
            <li class="col-xs-4 col-sm-4" ng-class="{'active':pathStr.indexOf('homepage')>-1}" ><a href="#/">首页</a></li>
            <li class="col-xs-4 col-sm-4" ng-class="{'active':pathStr.indexOf('launch')>-1}"><a ng-href="#/launch">发起点餐</a></li>
            <li class="col-xs-4 col-sm-4" ng-class="{'active':pathStr.indexOf('join')>-1}"><a ng-href="#/join">我要点餐</a></li>
        </ul>
        <div id="J_navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':pathStr.indexOf('homepage')>-1}" ><a href="#/">首页</a></li>
                <li ng-class="{'active':pathStr.indexOf('launch')>-1}"><a ng-href="#/launch">发起点餐</a></li>
                <li ng-class="{'active':pathStr.indexOf('join')>-1}"><a ng-href="#/join">我要点餐</a></li>
            </ul>
        </div>
    </div>
</div>