<div class="header" ng-controller='NavCtrl' ng-init="init()" ng-include="'views/header.html'"></div>
<div class="container" ng-init="init()">
	<h5 class="page_header" ng-if="launchMan && launchMan!=''">今天已有 <span> {{launchMan}} </span> 发起了 <span> {{dinnerRoom}} </span> 餐厅的点餐，进入 <a class="btn btn-xs btn-primary" href="#/join"> 我要点餐 </a> 选择喜欢的菜品噢。</h5>
	<div class="row" ng-if="launchMan && launchMan!=''">			
		<div class="jumbotron">
			<p>饭，不能停~</p>
			<p>广告位常年招租</p>
		</div>
	</div>	
	
	<h5 class="page_header">请添加菜品发起点餐，邀请小伙伴来订餐咯。</h5>		
	<div class="row" ng-if="!launchMan || launchMan==''">
		<!-- Menus list -->
		<h5 class="page_header col-xs-12 text-center">菜 and 谱</h5>
		<div class="table">
		    <table class="table table-bordered table-striped responsive-utilities">
				<thead>
					<tr>
					  	<th class="col-xs-5">菜品名称</th>
					  	<th class="text-center col-xs-3">单价(元)</th>
					  	<th class="text-center col-xs-3">备注</th>
					  	<th class="text-center col-xs-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in dinnerList">
						<td class="col-xs-5">
							{{item.dinner}}
						</td>
						<td class="col-xs-2">{{item.price}}</td>
						<td class="col-xs-4">{{item.memo}}</td>
						<td class="col-xs-1">
							<a role="button" class="btn btn-xs btn-danger btn-block" ng-click="removeDinner($index)">X</a>
						</td>
					</tr>
					<tr>
						<td class="form-group">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="newDinnerObj.dinner" placeholder="菜名">
							</div>
						</td>
						<td class="form-group">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="newDinnerObj.price" placeholder="元">
							</div>
						</td>
						<td class="form-group">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="newDinnerObj.memo" placeholder="备注">
							</div>
						</td>
						<td class="text-center">
							<a role="button" class="btn btn-xs btn-success btn-block" ng-click="addDinner()"> Add </a>			
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
		<div class="launch">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="launchObj.dinnerRoom" placeholder="请输入餐厅名">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="launchObj.name" placeholder="请输入姓名">
			</div>
			<div class="alert alert-danger text-center" role="alert" ng-show="errorMsg!=''">
		        {{errorMsg}}
		    </div>
			<a role="button" class="btn btn-primary btn-block" id="J_launch" ng-class="{'disabled':launchObj.dinnerRoom=='' || launchObj.name == '' || dinnerList.length==0 || loading}" ng-click="clickLaunch()">确定发起</a>
		</div>
			
	</div>
	
	
    
</div>
<div class="footer" ng-include="'views/footer.html'"></div>